body{
    font-family: 'Nunito', sans-serif;
    background: #13131A;
}
.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 100%;
    max-width: 1348px;
    padding: 0 15px;
    height: 95vh;
}
.error__title{
    margin-top: 40px;
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    line-height: 145%;
    text-align: center;
    color: #bfbfd4;
}
.form__app {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #16161F;
    border-radius: 12px;
    margin-bottom: 16px;
}
.input__app {
    background-color: #1E1E29;
    color: #7F7F98;
    border-radius: 8px;
    padding: 17px 20px;
    width: 100%;
    margin-right: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}
.btn__app {
    padding: 8px;
    background-color: #1E1E29;
    border-radius: 8px;
}
.weather__info{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 16px;
}
.block{
    background-color: #16161F;
    border-radius: 12px;
    padding: 24px;
}
.weather__main{
    position: relative;
    margin-right: 24px;
    width: 100%;
    max-width: 632px;
    height: 544px;
    padding: 32px;
    background-position: center;
    background-repeat: no-repeat;
}
.title__weather{
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #7f7f98;
}
.weather__secondary{
    width: 100%;
    max-width: 670px;
}
.weather__list{
}
.weather__item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}
.weather__left{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.svg__weather {
    margin-right: 12px;
}
.weather__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: #bfbfd4;
}
.weather__value {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #fafafa;
}
.weather__item:not(:last-child){
    border-bottom: 1px solid #1c1c27;
}
.weather__background {
    position: relative;
}
.img__value{

}
.img__top {
    width: 100%;
    max-width: 600px;
    position: absolute;
    display: flex;
    justify-content: space-between;
}
.img__top-left {
    display: flex;
    flex-direction: column;
}
.img__city {
    display: flex;
    margin-bottom: 8px;
}
.city-value {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: #fafafa;
}
.country-value {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: #fafafa;
}
.img__date {
    display: flex;
}
.day-value {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #fafafa;
}
.date-value {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #fafafa;
}
.time-value {
    margin-right: 50px;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: #fafafa;
}
.img__bottom {
    position: absolute;
    left: 32px;
    right: 32px;
    bottom: 0;
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.img__bottom-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 32px;
}
.img__bottom-left span{
    margin: 0 10px;
    border-radius: 100%;
    width: 8px;
    height: 8px;
    background: #fff;
    opacity: 0.4;
}
.weather__temp {
    display: flex;
    align-items: center;
}
.fell__value {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #fff;
}
.temp__value {
    margin-bottom: 12px;
    font-weight: 800;
    font-size: 96px;
    line-height: 100%;
    color: #fff;
}
.cloud__value {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #fff;
}
.logo__value {
}
.logo__weather {
    margin-right: 32px;
}
.weather__days{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}
.weather__img{
    position: relative;
    background-color: #16161F;
    border-radius: 12px;
    max-width: 632px;
    margin-right: 24px;
}
.sun__solstice {
}
.weather__solstice {
    position: absolute;
    left: 10px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 580px;
}
.weather__sunrise {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #fff;
}
.weather__sunset {
    margin-right: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #fff;
}
.weather__3days{
    height: 194px;
    width: 100%;
    padding: 24px;
    max-width: 700px;
    background-color: #16161F;
    border-radius: 12px;
}
.days__title {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #7f7f98;
}
.days__item-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    color: #bfbfd4;
}
.days__list {
    display: flex;
    justify-content: space-between;
}
.days__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.days__logo {
}
.days__down {
    display: flex;
}
.max__temp {
    margin-right: 5px;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    color: #fafafa;
}
.average__temp {
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    color: #7f7f98;
}
@media (max-width: 1300px){
    .weather__days{
        flex-direction: column;
        align-items: center;
        
    }
    .weather__img{
        margin: 0;
        margin-bottom: 16px;
    }
    .weather__sunset{
    }
    .weather__solstice{
        left: 20px;
    }
}
@media (max-width: 712px){
    .weather__info{
        flex-direction: column;
        align-items: center;
        
    }
    .weather__main{
        margin: 0;
        margin-bottom: 16px;
    }
    .weather__solstice{
        left: 5px;
    }
    .days__list{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
    .weather__3days{
        height: auto;
    }
}
@media (max-width: 420px){
    .city-value{
        font-size: 16px;
    }
    .country-value{
        font-size: 16px;
    }
    .time-value{
        font-size: 12px;
    }
    .day-value{
        font-size: 12px;
    }
    .date-value{
        font-size: 12px;
    }
    .temp__value{
        font-weight: 800;
        font-size: 48px;
        line-height: 120%;
        text-align: right;
        color: #fff;
    }
    .fell__value{
        font-size: 16px;
    }
    .cloud__value{
        font-size: 14px;
    }
    .weather__value{
        font-size: 16px;
    }
    .weather__sunrise{
        font-size: 14px;
    }
    .weather__sunset{
        font-size: 14px;
    }
}